#cy {
  width: 70%;
  height: 700px;
  display: inline-block;
  border: 2px solid black ;
}

#infobox{
width: 29%;
height: 300px;
vertical-align: top;
display: inline-block;
border: 2px solid green ;

}


.toolbar-button {
  width: 60px;
  height: 30px;
} 
