@import 'bootstrap/scss/bootstrap.scss';

body{
  overflow: hidden;
  padding: 0;
  max-height: 100vh;
}

.header { 
    grid-area: header; 
    // height: fit-content;
    text-align: center;
}

#langSelector {
  float: right;
  margin: 5px;
}
.btn-secondary {
  background-color: lightgrey;
}

.gallery { grid-area: gallery; }
.toolbar {grid-area: toolbar;}
.main { grid-area: main; }
.target { grid-area: target; }
.target-tools {grid-area: target-tools;}
.invariants { 
  grid-area: invariants; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 10em;
 }

.grid-container {
    height: 100vh;
  display: grid;
  grid-template-columns: 20% minmax(0, auto) 20%;
  grid-template-rows: auto auto auto auto 10em;
  grid-template-areas:
    'header header header'
    'gallery toolbar toolbar'
    'gallery main target'
    'gallery main target-tools'
    'gallery invariants invariants';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  // text-align: center;
  // padding: 20px 0;
  font-size: 15px;
}


#gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  // justify-content: space-evenly;
  overflow: scroll;
  border: 2px solid black;
}



.graphGalleryItem {
  width: 8em;
  height: 8em;
  border: solid 3px grey;
  background-color: white;
  display: inline-table;
  text-align: center;
  padding: 5px;
  margin: 1em;
}

#cy1{
// width: 100%;
// display: inline-block;
border: 2px solid black;
}


.toolbar-button {
  width: 80px;
  // height: 60px;
  // margin: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.toolbar-button img {
  width: 50%;
  margin: 3px;
}

.filter{
  width: 5em;
}


.invTab  td {
width: 8em;
}
.invTabHeaders{
  font-weight: bold;
}

// Transpose table

// tr { display: block; float: left; }
// th, td { display: block; height: 2em;}


.matrix {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.matrix:before,
.matrix:after {
  content: '';
  position: absolute;
  top: 0;
  border: 1px solid #000;
  width: 6px;
  height: 100%;
}
.matrix:before {
  left: -6px;
  border-right: 0px;
  border-radius: 50px 0 0 50px;
}
.matrix:after {
  right: -6px;
  border-left: 0px;
  border-radius: 0 50px 50px 0;
}
.matrix td {
  padding: 5px;
  width: 15px;
  height: 15px;
  text-align: center;
}