// @import 'bootstrap/scss/bootstrap.scss';

body {
  overflow: hidden;
  padding: 0;
  max-height: 100vh;
  font-family: sans-serif;
}

.header {
  grid-area: header;
  // height: fit-content;
  text-align: center;
  position: relative;
}
.mainTitle {
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  text-align: center;
  padding: 1em;
  font-size: 300%;
  font-weight: bold;
  top: 0;
  user-select: none;
}

#top-toolbar {
  display: flex;
  flex-flow: row;
  gap: 0.5em;
  position: absolute;
  right: 0px;
}

#top-toolbar span {
  flex: 2 1 auto;
}

.gallery {
  grid-area: gallery;
}
.toolbar {
  grid-area: toolbar;
}
.main {
  grid-area: main;
}
.target {
  grid-area: target;
  display: grid;
  overflow: hidden;
  gap: 10px;
  // grid-template-rows: auto fit-content(0);
  grid-template-rows: auto 71px;
  overflow: hidden;
}

.invariants {
  grid-area: invariants;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 10em;
  // overflow: scroll;
}

#grid-container {
  height: 100vh;
  display: grid;
  gap: 10px;
  background-color: var(--color1);
  padding: 10px;
  grid-template-rows: 4em fit-content(0) auto 10em;
  grid-template-areas:
    'header header header'
    'gallery toolbar toolbar'
    'gallery main target'
    'gallery invariants invariants';
    transition: 300ms;

}

.full-mode {
  grid-template-columns: 20% min(calc(60% - 20px), calc(80% - 20px - 300px)) max(
      20%,
      300px
    );
}

.collapsed-mode {
  grid-template-columns: 20% calc(80% - 20px) 0;
}

.collapsed-mode .main {
  margin-right: -10px;
}