// @import 'bootstrap/scss/bootstrap.scss';

body {
  overflow: hidden;
  padding: 0;
  height: 100vh;
  position: relative;
  font-family: sans-serif;
}

.header {
  grid-area: header;
  // height: fit-content;
  text-align: center;
  position: relative;
}
.mainTitle {
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  text-align: center;
  padding: 1em;
  font-size: 300%;
  font-weight: bold;
  top: 0;
  user-select: none;
}

#top-toolbar {
  display: flex;
  flex-flow: row;
  gap: 0.5em;
  position: absolute;
  right: 0px;
}

#top-toolbar span {
  flex: 2 1 auto;
}

.collection {
  grid-area: collection;
  height: 100% ;
  display: grid;
  gap: 3px;
  grid-template-rows: 2em auto;
  overflow: scroll;
}


.toolbar {
  grid-area: toolbar;
  text-align: center;
  position: relative;
}

.main {
  grid-area: main;
}
.target {
  grid-area: target;
  display: grid;
  overflow: hidden;
  gap: 10px;
  // grid-template-rows: auto fit-content(0);
  grid-template-rows: auto 71px;
  overflow: hidden;
}

.invariants {
  grid-area: invariants;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 10em;
  overflow-x: scroll;
}

#grid-container {
  height: 100%;
  display: grid;
  gap: 10px;
  background-color: var(--color1);
  padding: 10px;
  grid-template-rows: 4em fit-content(0) auto 10em;
  grid-template-areas:
    'header header header'
    'toolbar toolbar toolbar'
    'collection main target'
    'collection invariants invariants';
  transition: 300ms;
//   grid-template-columns: 20% calc(60% - 20px) 20%

}

.full-mode {
  grid-template-columns: 20% calc(60% - 20px) 20%
}

.collapsed-target {
  grid-template-columns: 20% calc(80% - 20px) 0;
}

.collapsed-target .main {
  margin-right: -10px;
}

.collapsed-collection {
  grid-template-columns: 0 calc(80% - 20px) 20%;
}

.collapsed-collection .main {
  margin-left: -10px;
}

.collapsed-target.collapsed-collection {
  grid-template-columns: 0 calc(100% - 20px) 0;
}

.collapsed-target.collapsed-collection .main {
  margin-left: -10px;
  margin-right: -10px;

}